
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
       font-family: "Azeret Mono", monospace;
       margin: 0;
       padding: 0;
}
.nav{
       margin: auto;
       display: flex;
       justify-content: space-between;
       max-width: 1140px;
       text-align: center;
}
.nav div{
       padding: 25px 0px;
       display: flex;
       align-items: center;
}
nav .navlogo h2{
       font-size: 28px;
       color: #0D1321;
}
nav .navbtn button{
       cursor: pointer;
       border-radius: 8px;
       padding: 15px 18px;
       font-size: 20px;
       color: #0D1321;
       border-color: #0D1321;
}
.banner{
       margin-bottom: 20px;
       max-width: 100%;
       height: 652px;
       /* background-color: aqua; */
       background-image: url('assets/Hero-bg.png');
}
.banner img{
      display: flex;
      margin: auto;
      padding-top: 30px;
      padding-bottom: 30px;
}
.banner h1{
       text-align: center;
       font-size: 48px;
       padding: 12px;
}
.banner p{
       color: rgba(13, 19, 33, 0.7);
       line-height: 30px;
       text-align: center;
       padding: 12px;
}
.banner button{
       margin: auto;
       display: flex;
       background-color: #0D1321;
       color: white;
       font-size: 20px;
       padding: 20px;
       border-radius: 8px;
       margin-top: 12px;
}
.banner button a{
       color: white;
       text-decoration: none;
}
.why{
       max-width: 1140px;
       margin: 50px auto 0px;
       height: 1395px;
       background-color: #fafafb;
}

.why h2, .heading{
       text-align: center;
       font-size: 32px;
       padding-top: 80px;
       padding-bottom: 24px;
}

.why > p, .subheading{
       line-height: 25px;
       text-align: center;
       color: rgba(13, 19, 33, 0.7);
}

.whydiv1{
       padding: 48px;
       margin: 48px;
       display: flex;
       justify-content: space-between;

}
.whydiv1text{
       color: rgba(13, 19, 33, 0.7);
       margin: auto 0px;
       text-align: left;
       width: 477px;
}
.whydiv2text{
       padding-right: 170px;
}
.whydiv1text h3{
       font-size: 24px;
       padding-bottom: 16px;
}
.whydiv1 p{
       padding-bottom: 32px;
       
}
.whydiv1text button{
       font-size: 20px;
       padding: 12px 20px;
       color: rgba(13, 19, 33, 0.7);
       cursor: pointer;
       background-color: #fafafb;
       border-color: rgba(13, 19, 33, 0.7);
       border-radius: 4px;
}
.whydiv1img{
       width: 275px;
}

.insp{
       display: block;
       margin: 50px auto;
       height: 777px;
       max-width: 1140px;
}
.insp .divvideo{
       margin: 48px;
       text-align: center;
}
.insp iframe{
       text-align: center;
       border-radius: 20px;
}
.target{
       max-width: 1140px;
       margin: 40px auto;
}
.carddiv{
       margin-top: 48px;
       display: flex;
}
.card{
       border-radius: 10px;
       margin: 10px;
       padding: 40px;
}
.card img{
       padding-bottom: 24px;
}
.card h3{
       padding-bottom: 17px;
}
.card p{
       padding-bottom: 17px;
       color: rgba(13, 19, 33, 0.7);
}
.card a, .more{
       color: black;
       font-weight: bold;
}
.card1{
       background-color: #fff6f4;
}
.card2{
       background-color: #f2f6fe;
}
.card3{
       background-color: #fffdf2;
}
.nexttarget{
       max-width: 1140px;
       margin: 0px auto;
}
.ndm{
       margin-top: 20px;
}
.nextdiv{
       margin: 20px;
       padding: 40px;
       display: flex;
       border: 1px solid;
       border-radius: 10px;
}
.nextdivimg{
       margin: auto 30px ;
       margin-left: 0px;
}
.nextdivcontent h2{
       padding-bottom: 8px;
}
.nextdivcontent p{
       padding-bottom: 20px;
       line-height: 24px;
}
.support{
       border-radius: 15px;
       margin: 50px auto;
       background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('assets/handshake.jpg');
       max-width: 1140px;
       height: 314px;
       background-size: cover;
       background-position: center;
}
.support h2, .support p{
       text-align: center;
       color: white;
}
.support h2{
       font-size: 32px;
       padding-top: 60px;
       padding-bottom: 20px;
}
.support p{
       padding-bottom: 50px;
}
.support input{

}
input[type="text"]{
       padding: 15px;
       border-radius: 5px;
       width: 400px;
}
input[type="submit"]{
       font-weight: bold;
       padding: 15px;
       border-radius: 5px;
       width: 80px;
       cursor: pointer;
}
.form{
       text-align: center;
}
footer{

       max-width: 1140px;
       display: flex;
       margin: 20px auto;
       justify-content: space-between;
}
.ftext{
       font-weight: bold;
       margin: auto 0px;
}
.fimg{
       display: inline-block;
       padding: auto;
       text-align: right;
}