
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
       font-family: "Azeret Mono", monospace;
       margin: 0;
       padding: 0;
}
.nav{
       margin: auto;
       display: flex;
       justify-content: space-between;
       background-color: antiquewhite;
       max-width: 1140px;
       text-align: center;
}
.nav div{
       padding: 25px 0px;
       display: flex;
       align-items: center;
}
nav .navlogo h2{
       font-size: 28px;
       color: #0D1321;
}
nav .navbtn button{
       border-radius: 8px;
       padding: 15px 18px;
       font-size: 20px;
       color: #0D1321;
       border-color: #0D1321;
}
.banner{
       margin-bottom: 20px;
       max-width: 100%;
       height: 652px;
       /* background-color: aqua; */
       background-image: url('/assets/Hero-bg.png');
}
.banner img{
      display: flex;
      margin: auto;
      padding-top: 30px;
      padding-bottom: 30px;
}
.banner h1{
       text-align: center;
       font-size: 48px;
       padding: 12px;
}
.banner p{
       line-height: 30px;
       text-align: center;
       padding: 12px;
}
.banner button{
       margin: auto;
       display: flex;
       background-color: #0D1321;
       color: white;
       font-size: 20px;
       padding: 20px;
       border-radius: 8px;
       margin-top: 12px;
}
.why{
       max-width: 1140px;
       margin: 50px auto 0px;
       height: 1395px;
       /* background-color: aquamarine; */
       background-color: #fafafb;
}

.why h2, .heading{
       text-align: center;
       font-size: 32px;
       padding-top: 80px;
       padding-bottom: 24px;
}

.why > p, .subheading{
       text-align: center;
       color: rgba(13, 19, 33, 0.7);
}

.whydiv1{
       padding: 48px;
       margin: 48px;
       display: flex;
       justify-content: space-between;

}
.whydiv1text{
       color: rgba(13, 19, 33, 0.7);
       margin: auto 0px;
       text-align: left;
       width: 477px;
}
.whydiv2text{
       padding-right: 170px;
}
.whydiv1text h3{
       font-size: 24px;
       padding-bottom: 16px;
}
.whydiv1 p{
       padding-bottom: 32px;
       
}
.whydiv1text button{
       font-size: 20px;
       padding: 12px 20px;
       color: rgba(13, 19, 33, 0.7);
       cursor: pointer;
       background-color: #fafafb;
       border-color: rgba(13, 19, 33, 0.7);
       border-radius: 4px;
}
.whydiv1img{
       width: 275px;
}




.whytext{
       margin: 80px auto 20px;
       /* margin: 20px auto; */
       max-width: 946px;
       height: 200px;
       padding-bottom: 30px;
       padding-top: ;
       text-align: center;
}


.insp{
       display: block;
       margin: 50px auto;
       height: 777px;
       background-color: #ffb1b1;
       max-width: 1140px;
}
.insp .divvideo{
       margin: 48px;
       text-align: center;
}
.insp iframe{
       text-align: center;
       border-radius: 20px;
}